h1 {
    border: 2px #eee solid;
    color: brown;
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}
p {
    border: 2px #eee solid;
    color: brown;
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}